@import "../CssReset";


$youtubeGray:rgba(32,32,32,0.97);
@mixin youtube__gray-color{
  background-color: $youtubeGray ;
}
.top-header__container{

  width: 100%;
  height: 8%;
  position:fixed ;
  margin-left: 15.5%;
  @include youtube__gray-color;
  border-bottom: 1px solid #373737;

}

