input,
input:active,
input:focus {
  outline: none !important;
  border: none !important;
}
.top-header__inner{
  display: flex;
.search_bar-container {
 width: 850px;
  .search__bar {
    padding: 15px;
    width: 85%;
    max-width: 575px;
    height: 40px;
    margin:8px 0 0 21%;
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #303030;
    display: inline-block;
  }
  .search__button {
    padding-bottom: 6px;
    margin-top: 5px;
    width: 65px;
    height: 40px;
    color: #ffffff;
    background-color: #313131;
    border: 1px solid #303030;
    display: inline-block;

    .search__button-img{

      width: 18px;
      height: 18px;
      margin: 0 auto 0 auto;
    }
  }
}
  .search__microphone-button{
    margin: 8px 0 0 8px;
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #181818 ;
    border-radius: 90px;
    .search__button-img{
      width: 18px;
      height: 18px;
      margin: 0 auto 0 auto;

    }
  }
}
