@import "CssReset";
$youtubeGray: #202020;
@mixin youtube__gray-color{
  background-color: $youtubeGray ;
}
$youtubeGray-light: #373737;

@mixin menu__img($width,$height){
  width: $width;
  height: $height;
  display: inline-block;
  margin: 5% 10% 0 14%;

}
@mixin menu__item-text {
  line-height: 24px;
  font-size: 15px;
  color: #ffffff;
  margin: 5% 0 0 0;
  display: inline-block;

}

.menu__container{
  width: 15.5%;
  height: 100%;
@include youtube__gray-color;
  display: grid;
  position:  fixed;
  min-width: 200px;
  .menu__inner {

    margin-bottom: 10%;
    padding-right: 4%;

    position: relative;
    height: 200px;
    .menu__section {
      display: flex;
      margin-bottom: 2%;
      .menu__button {
        margin: 25px 0 0 13%;
        @include youtube__gray-color;
        width: 30px;
        height: 22px;
        display: inline-block;


      }

      .logo__youtube {
        width: 120px;
        height: 70px;
        display: inline-block;

      }
    }

    .menu__section-item{
      height: 22%;
      .menu__img{
        @include menu__img(20px,20px);
      }
      .menu__item-text {
        @include menu__item-text;
      }
    }

  }
  .other__inner{
    border-top: 2px solid $youtubeGray-light;
    position: relative;
    margin-bottom: 350px;
    padding-right: 4%;
    .menu__title{
      margin-top: 7px;
      font-size: 17px;
      color: #ffffff;
      margin-left: 5%;
    }
    .menu__section-item{
      .menu__img{
        @include menu__img(20px,20px);
      }
      .menu__item-text {
        @include menu__item-text;
      }
    }


  }
  .menu__section-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .menu__section-item-focus{
    background-color: rgba(255, 255, 255, 0.1)!important;
  }
  }

